  
  
  <section class="maingame">
    <img src='/images/prof_oak.jpeg'>
    <p>Welcome to the world of Pokemon, <b><%= @trainer.name %></b>!</p>
    <p>Click on the Pokeball to catch 'em all!</p>
    <p>
    <a href='/catch'><img src='/images/pokeball.jpeg' width='50'></a></p>

    <p>
      <br><br><form action='/logout' method='POST'>
      <input type='submit' value='Click here to ragequit!'>
    </form>
    </p>

  </section>


  <section class="pokedex">
  <% if @trainer.pokedex == [] %>
    <h4>You have no Pokemon yet!</h4>
  <% else %>
    <h4>You currently have <%= @trainer.poke_count %> Pokemon!</h4>
    <p>
    <form action='/delete' method='POST'>
      <input type='submit' value='Release last Pokemon caught'></p>
    </form>
    <p><% @trainer.pokedex.reverse.each do |pokemon| %>
    <%= pokemon.name %>     
    <br><img src='/images/<%= pokemon.name.downcase %>.jpeg' width='100'></p>
    <br>
      <% end %>
  <% end %>
 
  </section>
    