  <img src='/images/prof_oak.jpeg'>
  <p>Welcome to the world of Pokemon, <%= @trainer.name %>!</p>
  <p></p>
   <p>Click on the Pokeball to catch 'em all!</p>
  <p>
    <a href='/catch'><img src='/images/pokeball.jpeg' width='50'></a></p>
  <% if @trainer.pokedex == [] %>
    <p>You have no Pokemon yet!</p>
  <% else %>
    <p>You currently have <%= @trainer.poke_count %> Pokemon!</p>
    <p>
    <form action='/delete' method='POST'>
      <input type='submit' value='Release last Pokemon caught'></p>
    </form>
    <p><% @trainer.pokedex.reverse.each do |pokemon| %>
    <%= pokemon.name %>     
    <br><img src='/images/<%= pokemon.name.downcase %>.jpeg' width='100'></p>
    <br>
      <% end %>
  <% end %>
 


    