  <h2>Welcome to Pokemon Catcher!</h2>
  <p>Today you can catch some of the following Pokemon!</p>
  <p><img src="/images/charmander.jpeg" width='100' height='100'>
    <img src="/images/squirtle.jpeg" width='100' height='100'>
    <img src="/images/bulbasaur.jpeg" width='100' height='100'>
    <br><img src="/images/pikachu.jpeg" width='100' height='100'>
    <img src="/images/snorlax.jpeg" width='100' height='100'>
    <img src="/images/jigglypuff.jpeg" width='100' height='100'>
    <br><img src="/images/lapras.jpeg" width='100' height='100'>
    <img src="/images/scyther.jpeg" width='100' height='100'>
    <img src="/images/eevee.jpeg" width='100' height='100'>
  </p>

<% if @trainer %>

<p>Let's go catch some Pokemon, <%= @trainer.name %>! <a href='/game'>Go!</a>

<% else %>

<p> Enter your name!</p>
<form action='/' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>

<% end %> 

